<span></span>
<div class="container">
  <!-- <div class="row"> -->
    <div class="card text-white bg-secondary">
      <div class="card-header text-center">
        <h2>LinkPlayerとは</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">プレイヤー同士を繋ぐためのアプリ</h5>
        <p class="card-text">プレイヤーのモチベーションアップ・維持に個人では限界があります</p>
        <p class="card-text">その手助けをする為、このアプリの機能を紹介します</p>
      </div>

      <div class="card-header text-center">
        <h3>コミュニティ</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">コミュニティを作成して意見交換を行える</h5>
        <p class="card-text">コミュニティは自由に作成出来るので、自分に合ったコミュニティへ参加できます</p>
      </div>

      <div class="card-header text-center">
        <h3>フレンド</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">気の合ったユーザとフレンドになる</h5>
        <p class="card-text">フレンド申請が相手に承認されるとプライベートメッセージを送ることが出来ます</p>
      </div>

      <div class="card-header text-center">
        <h4>まずはコミュニティを確認</h4>
      </div>
      <div class="card-body text-center">
        <%= link_to t('view.community_index'), communities_path, class: "card-title btn btn-primary" %>
      </div>
    </div>
  <!-- </div> -->
</div>
