<h3 class="page">フレンド一覧</h3>
<div class="container">
  <div class="row">
    <ul class="list-group">
      <% @friends.each do |friend| %>
        <% if friend.request %>
          <li class="list-group-item list-group-item-action">
            ユーザー名：<%= friend.partner.name %>
            ｜<%= link_to t('view.friend_page'), user_path(friend.partner.id) %>
            ｜<%= link_to t('view.friend_elimination'), friend_path(friend.id), method: :delete %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
