<h2>フレンド申請</h2>
<% @users.each do |user| %>
  <% unless current_user.friendly?(user) or current_user == user %>
    <%= user.name %>
    <%= user.email %>
    <%= render 'friend_form', user: user %>
  <% end %>
<% end %>
