<ul>
  <% posts.each do |post| %>
    <% if post.id.present? %>
      <li class="post_line card">
        <div class="card-body">
          <p class="card-header text-left"><%= post.user.name %></p>
          <p class="card-text"><%= post.content %></p>
          <% if post.image.present? %>
            <p class="card-text"><%= image_tag(post.image.url, size: '480x340') %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
